body, html, .wrapper {
	height: 100%;
}

body {
	max-width: 100%;
	background-color: black;
}

.wrapper {
	max-width: 100%;
}

#fetch {
	margin-top: 25%;

}

#location_input {
	margin: 0 auto;
	width: 195px;
	display: block;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	border: 2px solid white;
	border-radius: 4px;
	color: white;
	background-color: black;

}

#error {
	color: white;
	height: 20px;
	text-align: center;
	font-family: 'Oswald', sans-serif;

}

button {
	margin: 0 auto;
	width: 200px;
	display: block;
	margin-top: 5px;
	background-color: black;
	border: 2px solid white;
	border-radius: 4px;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: white;


}

button:hover {
	background-color: grey;
}

button:active {
	background-color: white;
	color: black;
}


/*footer {
 position: relative;
 height: 3em;
}
*/footer {
	margin-top: -1.5em;
	color: white;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
}

footer a {
	color: white;
}

footer a:hover {
	color: orange;
}
